<html>
    <head>
        <title> BiDRA V2.0 </title>
    </head>

    <body>
        <div class="modal" id="myModal" role="dialog">
            <div class="modal-dialog">
                  <!-- Modal content-->
                 <div class="modal-content">
                    <div class="modal-header">
                          <h4 class="modal-title">Please Wait...</h4>
                    </div>
                
                    <div class="modal-body">
                          <center> <div class="loader"></div> </center>
                    </div>
                  </div>  
            </div>
        </div>

        <h1>BiDRA Dashboard</h1>
        <header class="st-header q-pa-sm">
            <h1 class="st-header__title text-h3">Infer and Analyze Effeciency Metrics</h1>
        </header>

        <div class="row">
            <div class="col col-4">
                <div class="row">
                    <h3 class="st-header__title text-h3">Upload your dataset</h3>
                </div>
                <div class="row">
                    $(uploader(label="Select CSV", accept=".csv", multiple=false, method="POST", url="/upload", field__name="dataset"))
                </div>
                <div class="row">
                    <p>Add specifications on dataset format</p>
                </div>
                    

                <form action="/" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <h3 class="st-header__title text-h3">Select your response type</h3>
                    </div>
                    <div class="row">
                        $(Stipple.select(name="resp", :responseSelected, options=:responseOption))
                    </div>
                    <div class="row">
                        <p>Add specifications on response type</p>
                    </div>
                    <div class="row">
                        $(btn(label="Analyze", color="secondary", type="submit", @click("isprocess = !isprocess")))
                    </div>
                </form>
            </div>
            <div class="col  col-6">
                $(h1("We are analyzing your dataset!", @showif(:isprocess)))
                $(h3("This could take a few minutes: please don't reload or close your browser", @showif(:isprocess)))

                <p>Explain results return</p>

                $(btn(label="New Analysis", color="secondary", @click("isprocess=false")))
            </div>
        </div>
    </body>
</html>